body {
    background-image: url(../images/fondo.jpg);
    background-size: 100%;
	font-size: 18px;
    margin: 0 auto;

}

figure {
    float: left;
}



h1{
	
	color: #D8D8D8;
	
}

h2{
    color: #A4A4A4;
}

header {
    
	background-color: #2E2E2E;
    overflow: hidden;
    width: 100%;
        
    }

header .links {
    float: left;
    width: 50%;
    

    
}

header .logo {
    
	float: left;
    padding-left: 1em;
    padding-top: 0.5em;


}

header
	.logo
		img{
			border-radius: 50%;
			width: 110px;
			margin-right: 0.5em;

		}


	nav {
        
		float: right;
        		
	}
		ul{
			
           font-size: 14px;
		}
	       li {
                display: inline-block;
                border: 1px solid #FF8000;
                
	          }

	          	a{
                
                color: #fff;
                line-height: 60px;
                padding: 1em;
                text-decoration: none
                 }



.include {
    
   display: block;
   text-align: center;
   margin-top: 5em;

}

.titular {
    width: 30%;
    float: left;
    padding: 0;
    margin-left: 1em;
}
